<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content">
    <div class="jumbotron">
        <h1 class="my-font title-shadow">Edit Bank Account</h1>
    </div>

    <div class="container">
        <form
                th:action="@{/bankaccount/edit/{id}(id=${bankAccount.id})}"
                th:object="${bankAccount}"
                method="POST">

            <div class="form-group">
                <label for="inputId" class="my-font">Id</label>
                <input disabled type="text" th:field="*{id}" class="form-control my-font" id="inputId">
            </div>

            <div class="form-group">
                <label for="inputCustomer" class="my-font">Customer Id</label>
                <input disabled type="text" th:field="*{customerId}" class="form-control my-font" id="inputCustomer">
            </div>

            <div class="form-group">
                <label for="inputType" class="my-font">Type</label>
                <input disabled type="text" th:field="*{type}" class="form-control my-font" id="inputType">
            </div>

            <div class="form-group">
                <label for="inputBalance" class="my-font">Balance</label>
                <input disabled type="text" th:field="*{balance}" class="form-control my-font" id="inputBalance">
            </div>

        </form>


            <div>
                <div class="row">
                    <div class="col">
                        <div class="jumbotron">
                            <h1 class="my-font title-shadow">Deposit</h1>
                        </div>
                        <form th:action="@{/bankaccount/deposit/{id}(id=${bankAccount.id})}"
                              th:object="${bankAccount}"
                              method="POST">
                            <div class="form-group">
                                <label for="inputDeposit" class="my-font">Balance Deposit</label>
                                <input type="text" name="balance" class="form-control my-font" id="inputDeposit" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-secondary my-font">Deposit</button>
                            </div>
                        </form>

                    </div>
                    <div class="col">
                        <div class="jumbotron">
                            <h1 class="my-font title-shadow">Withdraw</h1>
                        </div>
                        <form th:action="@{/bankaccount/withdraw/{id}(id=${bankAccount.id})}"
                              th:object="${bankAccount}"
                              method="POST">
                            <div class="form-group">
                                <label for="inputWithdraw" class="my-font">Balance Withdraw</label>
                                <input type="text" name="balance" class="form-control my-font" id="inputWithdraw" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-secondary my-font">Withdraw</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

<!--            <div class="form-group">-->
<!--                <button type="submit" class="btn btn-outline-warning my-font">Submit</button>-->
<!--            </div>-->

        <a class="btn btn-outline-primary my-font" th:href="@{/bankaccount}"><< Bank Account</a>

<!--        </form>-->
    </div>
</div>